
.warehouse-app {
  width: 1100px;
}

.warehouse-grid {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.warehouse-grid-location {
  display: flex;
  flex: 0 0 10%;
  height: 80px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.warehouse-command {
  margin-top: 12px;
  float: right;
}

.warehouse-command > form > span {
  display: block;
}

.warehouse-robot {
  width: 60px;
  height: 60px;
}